* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    color: 333;
    line-height: 1.6;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}
.logo {
    font-size: 24px;
    font-weight: 700;
    color:#ff9a75;
}
.logo span {
    color: #DD5E3F;
}
nav ul {
    list-style: none;
    display: flex;
}
nav li {
    margin-left: 30px;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s;
}
nav a:hover {
    color: #8f2600;
}
.cta-button {
    background-color:#ff9a75;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 600;
}
.cta-button:hover {
background-color: #ffbea6;
}
.hero {
    padding: 96px 0;
    background-color: #fcf1ed;
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-content {
    flex: 1;
    padding-right: 32px;
}
.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-image img {
    max-width: 100%;
    height: auto;
}
.hero h1 {
    font-size: 48px; 
    font-weight: 800;
    margin-bottom: 24px; 
    color: #8f2600;
}
.hero p {
    font-size: 19.2px; 
    margin-bottom: 32px; 
    color: #555;
}